<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Movie Library</title>

{% stylesheets
        'bundles/acmemovie/css/bootstrap.min.css'
        'bundles/acmemovie/css/bootstrap-responsive.min.css'
        'bundles/acmemovie/css/jquery-tokeninput.css'
        'bundles/acmemovie/css/core.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}

    <!-- HTML5 Shim for IE6-8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="{{ app.request.get('_route') | replace({'_' : '-'}) }}">
    <div class="container">
        {% include '::navbar.html.twig' with {'route': app.request.get('_route') | replace({'_' : '-'})} %}
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
        'bundles/acmemovie/js/jquery.min.js'
        'bundles/acmemovie/js/bootstrap.min.js'
        'bundles/acmemovie/js/jquery-tokeninput.min.js'
        'bundles/acmemovie/js/core.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block footer_javascripts %}{% endblock %}
</body>
</html>
